<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>twitch</title>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/ws/socket.io.js"></script>
</head>
<body class="container-fluid">

<button id="play" type="button" class="btn btn-default">音声</button>
<div id="twitch_logs" class="twitch_logs"></div>

<script type="text/javascript" src="/js/twitch.js"></script>

</body>
</html>
